In [1]:
total = 100
print("The total is", total)

The total is 100

In [3]:
total = total + 99
print("The total is now", total)

The total is now 298

In [4]:
total = total - 1
print("The total is", total)

total = total * 4
print("The total is", total)

total = total / 2
print("The total is", total)

The total is 297
The total is 1188
The total is 594.0

In [10]:
total = 98.2
count = 5
average=(total+count)/2
average

51.6

In [13]:
type(False)

bool

In [15]:
type(1000)

int

In [17]:
type(100.111)

float

In [19]:
type("Heloo")

str

In [21]:
type("True")

str

In [24]:
type(100/5)

float

In [26]:
type(100//5)

int

In [28]:
"ABC"*10

'ABCABCABCABCABCABCABCABCABCABC'

In [32]:
name=input('Enter a name')
address=input("Enter a address")
print("Your name is ",name)
print("Your name is",address)
len(name)

Enter a nameYunisha
Enter a addressbhairahawa
Your name is  Yunisha
Your name is bhairahawa

7

In [35]:
age = input("Enter your age ")
print("in one year your age will be", age + 1)

Enter your age 20

TypeError: can only concatenate str (not "int") to str

In [37]:
age = int(input("Enter your age "))
print("in one year your age will be", age + 1)

Enter your age 21
in one year your age will be 22

In [44]:
surname = "Palin"
initial = surname[2]
initial

'l'

In [2]:
a=int(input('Enter a first number'))
b=int(input('Enter a second number'))
print(a*b)

Enter a first number10
Enter a second number20
200

In [3]:
print("""This text includes character such as \'\\'\'"\' and \"'\'\",\n\t This is a new line that starts with a tab \n\t\tThis is a new starts with two tabs  """)

This text includes character such as '\''"' and "''",
	 This is a new line that starts with a tab
		This is a new starts with two tabs

In [10]:
print("\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\n Hello there! \n \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"")

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 Hello there!
 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"

In [46]:
surname = "Palin"
initial = surname[-1]
initial

'n'

In [48]:
surname = "Palin"
initial = surname[1:]
initial

'alin'

In [16]:
surname = "Palin"
initial = surname[2]
initial

'l'

In [17]:
surname[10]

IndexError: string index out of range

In [21]:
inital=surname[-2]
initial

'l'

In [23]:
primes=[2,3,5,7,13,1,19,23,29,31,37,41,43,47]
number=primes[:4]
number

[2, 3, 5, 7]

In [36]:
names=["terry","John","Michael","Eric","Terry","Graham"]

In [38]:
names[0:0]=["Tim","Bill","Graeme"]
names

['Tim',
 'Bill',
 'Graeme',
 'Tim',
 'Bill',
 'Graeme',
 'terry',
 'John',
 'Michael',
 'Eric',
 'Terry',
 'Graham']

In [40]:
names.append("Yuisha")

In [42]:
names

['Tim',
 'Bill',
 'Graeme',
 'Tim',
 'Bill',
 'Graeme',
 'terry',
 'John',
 'Michael',
 'Eric',
 'Terry',
 'Graham',
 'Yuisha',
 'Yuisha']

In [51]:
names=names+["Adele"]
names

['Tim',
 'Bill',
 'Graeme',
 'Tim',
 'Bill',
 'Graeme',
 'terry',
 'John',
 'Michael',
 'Eric',
 'Terry',
 'Graham',
 'Yuisha',
 'Yuisha',
 'Adele',
 'Adele',
 'Adele',
 'Adele',
 'Adele']

In [52]:
nums=[1,2,3]*5

In [54]:
nums

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [56]:
comment="I would have "thought" you knew better!"
comment

SyntaxError: invalid syntax (Temp/ipykernel_6404/2266353596.py, line 1)

In [58]:
print("THis text spans three lines, and includes both single(\'),and double quotes(\")")

THis text spans three lines, and includes both single('),and double quotes(")