In [1]:
print(10<100)
print(100!=100)
print(50>=50)

True
False
True

In [2]:
age=int(input("Enter your age"))
print(age<18)
print(age>21)
print(age<=31)

Enter your age18
False
False
True

In [4]:
print("a"<"b")
print("b"<"a")
print("John"<"Terry")

True
False
True

In [5]:
print("john"<"Terry")

False

In [7]:
print(5<10.2)
print(5<"Monty")
print(5<"5")

True

TypeError: '<' not supported between instances of 'int' and 'str'

In [8]:
age = 30
print(age >=18 and age <=65)
print(age<18 or age>65)
print(not age>18)

True
False
False

In [9]:
age=30
print(age>=18 and age<=65) and (not age==30)

True

In [11]:
weight=int(input("Enter a weight"))
height=int(input("Enter a height"))
print(100<weight and weight<200)
print(height>131 and height<160)

Enter a weight121
Enter a height225
True
False

In [14]:
age=int(input("Enter a age"))
if (age<=18 and age<=30):
    print("your are Still young!")

Enter a age18
your are Still young!

In [13]:
age=int(input("Enter a age"))
if (age>=18 and age<=30):
    print("your are Still young!")
elif age>30 and age<40:
    print("You are aged")

Enter a age54

In [15]:
age=int(input('enter a age'))
print("your are adult"if age>=18 else "you are not adult,yet!")

enter a age54
your are adult

In [1]:
names=["Simran","Ram","Yunisha"]
for name in names:
    print(name)

Simran
Ram
Yunisha

In [3]:
lists=[2,4,6,8,10]
for i in lists:
    print( i,"to the power of",i,"=",i**i)

2 to the power of 2 = 4
4 to the power of 4 = 256
6 to the power of 6 = 46656
8 to the power of 8 = 16777216
10 to the power of 10 = 10000000000

In [4]:
total=0
numbers=[10,20,30,90,200,30,22,11]
for i in numbers:
    total=total+i
    print("The total is",total)

The total is 10
The total is 30
The total is 60
The total is 150
The total is 350
The total is 380
The total is 402
The total is 413

In [5]:
total=0
numbers=[10,20,30,90,200,30,22,11]
for i in numbers:
    if i>100:
        break
    total=total+i
    print("The total is",total)

The total is 10
The total is 30
The total is 60
The total is 150

In [6]:
total=0
numbers=[10,20,30,90,200,30,22,11]
for i in numbers:
    if i<=100:
        continue
    total=total+i
print("All the number processed")
print("The total is",total)

All the number processed
The total is 200

In [8]:
name = input("Enter your name: ")
if name=="Yunisha":
    print("Your name is", name)
else:
    print("Name not entered")

Enter your name: Yunisha
Your name is Yunisha

In [9]:
grades = [20, 50, 43, 33, 90, 15]
pass_mark = 40
passes = 0
total = 0
for grade in grades:
    if grade < pass_mark:
        continue
    passes += 1
    total += grade

print("average pass mark was", total/passes)

average pass mark was 61.0

In [10]:
message="My name is yunisha neupane and i am from bhairahawa"
"2022" not in message

True