In [1]:
import math
print("The square root of no is",math.sqrt(1024))

The square root of no is 32.0

In [2]:
from math import log2
log2(1024)

10.0

In [4]:
def displayTwice(msg):
    print(msg)
    print(msg)
displayTwice("Yunisha ")
displayTwice(2)
displayTwice(2+2)
displayTwice("I am from"+"Nepal")

Yunisha
Yunisha
2
2
4
4
I am fromNepal
I am fromNepal

In [6]:
def displayTwice(msg):
    """Display the message that user enter as a function argunments"""
    print(msg)
    print(msg)
displayTwice("Yunisha ")
displayTwice(2)
displayTwice(2+2)
displayTwice("i am from"+"nepal")
help(displayTwice)

Yunisha
Yunisha
2
2
4
4
i am fromnepal
i am fromnepal
Help on function displayTwice in module __main__:

displayTwice(msg)
    Display the message that user enter as a function argunments

In [8]:
def findMax(a,b):
    """Finds the maximum of two values."""
    if ( a > b ):
        max = a
    else:
        max = b
    return max
print(findMax(20,40))
print(findMax("joe","sam"))
print(findMax(10,-20))

40
sam
10

In [9]:
def someFunc(x, y, z):
    print("x is", x, "\ny is", y, "\nz is", z)
someFunc(1,2,3)
someFunc(y=2, z=3, x=1)
someFunc(x=1,z=3,y=2)

x is 1
y is 2
z is 3
x is 1
y is 2
z is 3
x is 1
y is 2
z is 3

In [11]:
def calcAve(*numbers):
    total = 0
    for num in numbers:
        total += num
    return total/len(numbers)
print(calcAve(1,2,3,4))
print(calcAve(1,3,46,7,7,0))
print(calcAve(1,3,46,0))

2.5
10.666666666666666
12.5

In [13]:
hypot = lambda a,b : math.sqrt(a * a + b * b)
type(hypot(3,4))

float

In [14]:
to_seconds = lambda hours,minutes:hours*60*60+minutes*60
print(to_seconds(0,2))
print(to_seconds(2,0))
print(to_seconds(1,30))

120
7200
5400

In [16]:
to_seconds = lambda hours,minutes=0:hours*60*60+minutes*60
print(to_seconds(1))
print(to_seconds(10))
print(to_seconds(3,30))

3600
36000
12600

In [17]:
def show_msg(title,body,prefix, sep="#"):
    print(body,prefix,title,sep)
show_msg("Yunisha","You are lucky man ",prefix="K ma sani haina rw")

You are lucky man  K ma sani haina rw Yunisha #